<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    {% block title -%}
        {% if title %}
            <title>БГИТУ - {{ title }}</title>
        {% else %}
            <title>БГИТУ</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        {%- block mainmenu -%}
            <ul class="mainmenu">
                {% for m in menu -%}
                    <li><a href="{{ m.url }}">{{ m.name }}</a></li>
                {% endfor -%}
            </ul>
        {% endblock mainmenu -%}

        {% endblock -%}
    </div>
</body>
</html>