{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>Нейронная сеть для классификации телефонов</p> <!-- Добавлен закрывающий тег </p> -->
<form action="{{ post_url }}" method="POST" enctype="multipart/form-data">
    <p><input type="file" class="form_text" name="image" required></p> <!-- Добавлено required для обязательного поля -->
    <input type="submit" class="form_btn" value="Узнать тип телефона">
</form>

{% if predicted_class %} <!-- Переместил условие для отображения результата вне формы -->
    <h1>Это {{ predicted_class }} с вероятностью {{ percent }}%</h1>
{% endif %}
{% endblock %}